<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.enviro2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Enviro"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".payment"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Home"/>
        <activity android:name=".EditProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Home"/>
        <activity android:name=".splash"
            android:theme="@style/AppTheme.NoActionBar"
         android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".slider"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".About"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Home"/>
        <activity android:name=".login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".register"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Home"/>
    </application>

</manifest>
